.outerwrapper {

    background-color: brown;
}

.registercontainer {
    background-color: brown;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 40px;
    margin-top: 40px;
}

.registerformwrapper {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.innerformwrapper {
    display: flex;
    flex-direction: column;
}

.checkboswrapper {
    display: flex;
}